/*Lato*/
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Montserrat*/
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts//montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}